@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: column; }
  body button {
    background-color: RGBA(124, 116, 116, 1);
    border: none;
    color: #F8F7EC; }
  body a {
    text-decoration: none;
    color: black; }
  body p {
    color: black; }

header {
  background-color: #CBC1B1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center; }

footer {
  background-color: #CBC1B1;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  align-items: center;
  justify-content: center; }
  footer p {
    display: flex;
    font-weight: 500;
    font-size: 12px; }

#homepage .section1 {
  display: flex; }
  #homepage .section1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #homepage .section1 div h1 {
      color: #F8F7EC; }
    #homepage .section1 div p {
      text-transform: none;
      color: #F8F7EC; }
#homepage .section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px; }
  #homepage .section2 h2 {
    text-align: center; }
  #homepage .section2 .destinations {
    display: flex; }
    #homepage .section2 .destinations div {
      display: flex; }
      #homepage .section2 .destinations div div {
        flex-direction: column; }
    #homepage .section2 .destinations img {
      margin: auto; }
    #homepage .section2 .destinations p {
      text-transform: none; }

#information {
  grid-template: 150px 150px/ auto auto auto;
  display: grid;
  align-content: center;
  margin: auto; }
  #information div {
    display: flex;
    align-items: center; }
    #information div p {
      font-weight: 700; }

#contact {
  align-items: center;
  display: flex;
  flex-direction: column; }
  #contact h1 {
    text-align: center; }
  #contact form {
    display: grid;
    gap: 20px; }
    #contact form input {
      background-color: RGBA(124, 116, 116, 0.3);
      border: 0;
      color: black; }
    #contact form *:focus {
      outline: none; }
    #contact form textarea {
      background-color: RGBA(124, 116, 116, 0.3);
      border: 0;
      resize: none; }
  #contact button {
    margin-top: 20px;
    margin-bottom: 50px; }

@media only screen and (max-width: 768px) {
  #normalMenu {
    display: none; }

  #hamburgerMenu {
    display: inline; }

  #logo {
    height: 50px;
    width: 50px; }

  button {
    width: 120px;
    height: 25px;
    font-size: 11px; }

  #homepage {
    padding: 20px; }
    #homepage .section1 {
      background-image: none;
      align-items: center;
      justify-content: center; }
      #homepage .section1 div {
        padding: 10px;
        background-color: #7C7474; }
        #homepage .section1 div h1 {
          font-size: 20px; }
        #homepage .section1 div p {
          font-size: 13px; }
        #homepage .section1 div button {
          background-color: RGBA(248, 247, 236, 0.3);
          border: none;
          color: black; }
    #homepage .section2 h2 {
      font-size: 11px; }
    #homepage .section2 .destinations {
      flex-direction: column; }
      #homepage .section2 .destinations div {
        flex-direction: row; }
        #homepage .section2 .destinations div div {
          padding: 10px; }
      #homepage .section2 .destinations h3 {
        text-align: left;
        font-size: 12px; }
      #homepage .section2 .destinations p {
        font-size: 10px; }
      #homepage .section2 .destinations img {
        width: 120px; }

  #information {
    grid-template: auto/auto; }
    #information img {
      width: 50px;
      height: 50px;
      margin: 20px; }
    #information p {
      font-size: 12px; }

  #contact form {
    grid-template: auto/auto; }
  #contact h1 {
    font-size: 20px; } }
@media only screen and (min-width: 768px) {
  #hamburgerMenu {
    display: none; }

  #normalMenu {
    display: flex; }
    #normalMenu div {
      padding: 20px;
      font-size: 20px;
      align-self: center; }
    #normalMenu .active {
      background-color: RGBA(124, 116, 116, 0.3); }

  button {
    width: 170px;
    height: 55px;
    font-size: 18px; }

  #homepage .section1 {
    height: 85vh;
    background-image: url(./images/hero\ image.jpg);
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    justify-content: flex-end; }
    #homepage .section1 div {
      padding: 20px;
      background-color: RGBA(124, 116, 116, 0.3);
      width: 650px;
      height: 370px;
      margin: 30px; }
      #homepage .section1 div h1 {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 48px; }
      #homepage .section1 div p {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 24px; }
  #homepage .section2 {
    padding-bottom: 30px; }
    #homepage .section2 h2 {
      font-size: 36px; }
    #homepage .section2 .destinations {
      flex-direction: row; }
      #homepage .section2 .destinations div {
        flex-direction: column; }
      #homepage .section2 .destinations h3 {
        text-align: center;
        font-size: 24px; }
      #homepage .section2 .destinations p {
        margin: 15px;
        font-size: 18px; }
      #homepage .section2 .destinations img {
        height: 100%; }

  #information {
    grid-template: 150px 150px/ auto auto auto; }
    #information img {
      width: 100px;
      height: 100px;
      margin: 25px; }
    #information p {
      font-size: 18px; }

  #contact form {
    grid-template: 40px 40px 230px / 380px 380px;
    gap: 20px; }
    #contact form textarea {
      grid-column: 1/3; }
  #contact h1 {
    font-size: 48px; } }

/*# sourceMappingURL=style.css.map */
