/*@use 'HomePage';
@use 'PracticalInfo';
@use 'Contact';*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$color: #CBC1B1;
$active: #7C7474;

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: black;
    }
    p{
        color: black;
    }
}

.header {
    background-color: $color;
    display: flex;
    justify-content: space-around;
    width: 100%;

    .nav {
        display: flex;

        div {
            padding: 20px;
            font-size: 20px;
            height: fit-content;
            align-self: center;
        }

        .active {
            background-color: $active;
        }
    }
}

.footer {
    background-color: $color;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;

    p {
        display: flex;
        font-weight: 500;
        font-size: 12px;
    }
}

.homepage{
    img{
        width: 100%;
    }
}

.contact {
    margin: auto;

}

.information {
    display: grid;
    grid-template: 150px 150px/ 400px 400px 400px;
    justify-content: center;
    align-content: center;
    margin: auto;

    div {
        display: flex;
        align-items: center;

        img {
            width: 100px;
            height: 100px;
            margin: 25px
        }

        p {
            font-weight: 700;
            font-size: 18px;
        }
    }
}